.verifPage{
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: white;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.Logo1{
    margin-top: 36px;
    margin-left: 100px;
    height: 36px;
    z-index: 2;
}
.verifTitle{
    position: absolute;
    width: 356px;
    height: 49px;
    left: 522px;
    top: 519px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
}
.vp1{
    position: absolute;
    left: 816px;
    top: 0px;
}
.vp3{
    position: absolute;
    top: 700px;
    right: -50px;
    width: 670px;
    height: 100px;
}
.vp2{
    position: absolute;
    top: 700px;
    left: -50px;
}
.verifDes{
    position: absolute;
    width: 610px;
    height: 93px;
    left: 415px;
    top: 589px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}