.navSection{
    margin-top: 0;
}
.listBut{
    display: flex;
    list-style: none;
    margin-left: 1170px;
    margin-top: 41.5px;
    
}
.regis{
    text-decoration: none;
    padding: 16px 45px;
    background-color: white;
    color: #5484E1;
    border-radius: 8px;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.log{
    text-decoration: none;
    padding: 16px 45px;
    background-color: #5484E1;
    color: white;
    border-radius: 8px;
    margin-left: 51.5px;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.logo{
    position: absolute;
    left: 6.94%;
}
