.TopBar{
    position: absolute;
    /* width: 1440px; */
    height: 922px;
    left: 0px;
    top: 0px;
    background: #F9FAFF;
}
.title{
    width: 602px;
    height: 186px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 129.5%;
    color: #222222;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left:100px;
    margin-top: 200px;
}
.title span{
    color: #5484E1;
}
.subtitle{
    width: 602px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 100px;
    /* margin: 0px 385.5px 738px 100px */
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 16px;
    width: 171px;
    height: 41px;
    background: #5484E1;
    border-radius: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 312.5px 169px 100px;
}
.btn a{
    width: 139px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 21px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.picHome{
    position: absolute;
    left: 59.02%;
    right: 0%;
    width: 508.16px;
    height: 488px;
    margin-top:118px;
}
.desk{
    color: white;
    /* width: 1440px; */
    height: 467px;
    left: 0px;
}
.titleDesk{
    width: 602px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #222222;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 622px;
    margin-right: 216px;
    margin-top: 442.82px;
}
.titleDesk span{
    color: #5484E1;
}
.teksDesk{
    width: 602px;
    height: 168px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 622px;
    margin-right: 216px;
    margin-top: 16px;
}
.elips{
    position: absolute;
}
.elips2{
    position: absolute;
    right: 0%;
}
.first{
    font-family: 'Poppins';
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 140px;
}
.sec{
    font-family: 'Poppins';
    font-size: 16px;
    color: #FFFFFF;
    width: 688px;
    position: absolute;
    left: 376px;
}
.section-p1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 0px;
    right: 0px;
    margin-left: 100px;
    margin-right: 100px;
}
.box1{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 292px;
    height: 330px;
    background: #FFFFFF;
    border-bottom: 7px solid #C2D4F5;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 24px;
    margin-top: 120px;
} 
 .name{
    font-family: 'Poppins';
    font-size: 30px;
    text-align: center;
    color: #000000;
    position: absolute;
    margin-bottom: 0px;
    margin-top: 200px;
}
.id{
    font-family: 'Poppins';
    font-size: 16px;
    color: #686868;
    position: absolute;
    margin-top: 250px;
}      
.picbox{
    margin-top: 58px;
    height: 140px;
}

.four{
    height: 904px;
    /* width: 1440px; */
    left: 0px;
    right: 0px;
    background: #5484E1;
}
.frmae4{
    height: 889px;
    left: 0px;
    right: 0px;
}
.title4{
    width: 658px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.create{
    margin-left: 740px;
    height: 155px;
    width: 720.15px;
    border-bottom: 1px solid #C4C4C4;
}
.create h1{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #5484E1;
    
}
.create h3{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-left: 77px;
}
.create p{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: #686868;
    width: 463px;
    margin-top: 81px;
    margin-left: 77px;
    
}
.frame5{
    /* position: absolute; */
    /* width: 1440px; */
    height: 812px;
    left: 0px;
    top: 0px;
    background: linear-gradient(44.71deg, #4056C7 0.49%, #6DC6FD 98.49%);
    
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 140px 208px;
    gap: 10px;
    /* width: 1440px; */
    height: 539.86px;
    background: #22294D;
    box-shadow: 0px -4px 17px rgba(0, 0, 0, 0.11);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 208px;
    gap: 10px;
    /* width: 1440px; */
    height: 108px;
    background: #C2D4F5;
    flex: none;
    order: 1;
    flex-grow: 0;

}
.title5{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    padding-top: 120px;
    /* flex: none;
    order: 0;
    flex-grow: 0;
    margin: 500px 422px 538px 422px; */
    /* margin-left: 422px;
    margin-right: 422px; */
}
.logfoot{
    margin-top: 100px;
}
.logfoot p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: white;
}
.line{
    width: 188px;
    height: 5px;
    background: #C2D4F5;
    margin-top: 28px;
    margin-bottom: 40px;
}
.office{
    width: 125px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.subOffice{
    width: 537px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134%;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 695px 140px 0px;
}
.picDesk{
    position: absolute;
    margin-left: 216px;
    font-size: 100px;
}
.t4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    border-bottom: 1px solid #D2D2D2;
    width: 1240px;
    margin-top: 140px;
    margin-left: 200px;
}
.t4 span{
    color: #5484E1;
}
.pic4{
    position: absolute;
    margin-top: 32px;
    width: 484.5px;
    height: 401.12px;
    margin-left: 200px;
}
.slideContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 40px;
    gap: 32px;
    width: 876px;
    height: 365px;
    background: #FFFFFF;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-left: 345px;
}
.subContent{
    width: 552px;
    height: 63px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    text-align: justify;
    color: #666666;
}
.cardSlide{
    margin-left: 32px;
}
.imgContent{
    width: 211px;
    height: 301px;
    background: url(itay-verchik-6ZKGBzrDd3I-unsplash-removebg-preview.png), rgba(191, 191, 191, 0.2);
}
.footRight{
    position: absolute;
    color : white;
    margin-left: 982px;
    margin-top: 100px;
}
.footRight h1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.footRight p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
}
.footRight img{
    margin-right: 35px;
    margin-top: 27px;
}